
ul.contributors > li.uneditable-input {
  width: 290px;
}
table ul.contributors > li {
  float: none;
  width: 284px;
  margin-left: 0;
}
.well, ul.contributors + p, .addthis_toolbox, p.rally {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote, ul.contributors + p blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

ul.contributors > li .photo {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

ul.contributors > li a.photo:hover {
  border-color: #f7490f;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

ul.contributors > li .photo > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul.contributors > li .photo .caption {
  padding: 9px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  ul.contributors > li {
    width: 228px;
  }
  .row-fluid ul.contributors > li {
    width: 31.492%;
    *width: 31.439%;
  }
  ul.contributors > li.uneditable-input {
    width: 218px;
  }
}
@media (min-width: 1200px) {
  ul.contributors > li {
    width: 370px;
  }
  .row-fluid ul.contributors > li {
    width: 31.624%;
    *width: 31.571%;
  }
  ul.contributors > li.uneditable-input {
    width: 360px;
  }
}
ul.contributors > li {
  float: left;
  margin-left: 20px;
}

ul.contributors > li.half {
  width: 340px;
}

@media (max-width: 767px) {
  ul.contributors > li {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  ul.contributors > li.half {
    width: 259px;
  }
}
@media (min-width: 1200px) {
  ul.contributors > li {
    margin-left: 30px;
  }

  ul.contributors > li.half {
    width: 420px;
  }

}

ul.contributors {
  list-style: none;
  padding: 0;
  margin: .5em 0 2em 0;
}
ul.contributors > li {
  margin-bottom: 2em;
  display: block;
  *zoom: 1;
  line-height: 1.4;
}
ul.contributors > li:before, ul.contributors > li:after {
  display: table;
  content: "";
}
ul.contributors > li:after {
  clear: both;
}
ul.contributors > li:nth-of-type(3n+1) {
  margin-left: 0;
  clear: left;
}
ul.contributors > li .photo {
  float: left;
  position: relative;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
}
ul.contributors > li .photo img {
  display: block;
  width: 100px;
  height: 100px;
}
ul.contributors > li .photo ul {
  margin: 0 4px;
  font-size: 0.9em;
  padding: 0;
  position: absolute;
  height: 0px;
  width: 100px;
  left: 0;
  bottom: 3px;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  list-style: none;
  text-align: center;
  border-top: 1px solid #c1c1c1;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  overflow-y: hidden;
}
ul.contributors > li .photo ul li {
  font-size: 0.95em;
  display: inline;
  padding: 0 2px;
}
ul.contributors > li .photo ul li a {
  color: white;
}
ul.contributors > li .photo ul li span {
  color: #999999;
}
ul.contributors > li .photo:hover ul {
  height: 24px;
}
ul.contributors > li h3 {
  margin-bottom: .15em;
}
ul.contributors > li strong, ul.contributors > li em {
  display: block;
}
ul.contributors + p {
  clear: left;
}
ul.contributors + p strong {
  display: block;
}
