#
#
# text files are normalized (convert crlf => lf)
# binary files are not normalized (binary is a macro for -text -diff)
#
#


# Unless otherwise stated, assume text

* text=auto


*.java text diff=java
*.html text diff=html
*.rdf text diff=html
*.xhtml text diff=html
*.xml text
*.txt text

# do not touch
*.rb binary
*.less binary
*.scss binary
*.sh binary
*.svg binary
*.css binary
*.min.css binary

*.js binary
*.min.js binary

*.jar binary
*.so binary
*.dll binary

# images
*.jpg binary
*.jpeg binary
*.png binary
*.pdn binary
*.pdn binary


*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

