<IfModule mod_headers.c>
    #                                   (1)                 (2)              (3)                 (4)                     (5)
    Header set Content-Security-Policy "default-src 'self'; base-uri 'none'; form-action 'self'; frame-ancestors 'none'; upgrade-insecure-requests; connect-src https://*.algolia.net https://*.algolianet.com; img-src 'self' https://*.githubusercontent.com; child-src https://www.youtube-nocookie.com" "expr=%{CONTENT_TYPE} =~ m#text/html#i"
</IfModule>
