<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=http://isis.apache.org/intro/getting-started/ide/eclipse.html">
        <script type="text/javascript">
            window.location.href = "http://isis.apache.org/intro/getting-started/ide/eclipse.html"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        The Eclipse setup page (for DataNucleus) has moved to <a href='http://isis.apache.org/intro/getting-started/ide/eclipse.html'>this page</a>.
    </body>
</html>