{% extends "isis-template.html" %}

{% block content %}


  <div class="row">
    <div class="col-md-12">
      <div align="center">
        <h3>Apache Isis&trade; is a framework for rapidly developing domain-driven apps in Java.</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div align="center">
        <h4>
        Write your business logic in entities, domain services and repositories, and the framework dynamically generates a representation of that domain model as a webapp or a RESTful API.</h4>
        <h4>For prototyping or production.</h4>
      </div>
    </div>
  </div>

  <!--  Carousel -->
  <!--  consult Bootstrap docs at 
        http://getbootstrap.com/javascript/#carousel -->
  <div id="this-carousel-id" class="carousel slide">
  
    <ol class="carousel-indicators">
      <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
      <li data-target="#this-carousel-id" data-slide-to="1"></li>
      <li data-target="#this-carousel-id" data-slide-to="2"></li>
      <li data-target="#this-carousel-id" data-slide-to="3"></li>
      <li data-target="#this-carousel-id" data-slide-to="4"></li>
      <li data-target="#this-carousel-id" data-slide-to="5"></li>
      <li data-target="#this-carousel-id" data-slide-to="6"></li>
      <li data-target="#this-carousel-id" data-slide-to="7"></li>
      <li data-target="#this-carousel-id" data-slide-to="8"></li>
      <li data-target="#this-carousel-id" data-slide-to="9"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="images/isis-logo-940x560.png"></img>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/010-sign-in.png"></img>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/020-object-layout.png"></img>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/030-declarative-business-rules.png"></img>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/040-imperative-business-rules.png"></img>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/050-action-with-args.png"></img>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/060-action-with-args-autocomplete.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="images/screenshots3/070-jdo.png"></img>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/080-rest-api.png"></img>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <img src="images/screenshots3/090-integtesting.png"></img>
        </a>
      </div>

    </div>
    
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><span class="icon-prev"></span></a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next"><span class="icon-next"></span></a>
  </div><!-- .carousel -->


<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 6000
    });
  });
</script>

<br/>
<div align="center">
<h4>The above screenshots are taken from the quickstart application [1.3.0-SNAPSHOT] (source on <a href="https://github.com/apache/isis/tree/master/example/application/quickstart_wicket_restful_jdo/dom/src/main/java/dom/todo">github</a>)</h4>.
<h4>You can view a longer carousel on the <a href="screenshot-tutorial.html">screenshots tutorial</a> page.</h4>
</div>
<br/>
<br/>

{% endblock %}
