{% extends "basic.html" %}

{% block content %}

<div class="page-header">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit"> 
        <div class="row" style="margin-bottom: 20px;">
            <div class="span8">
                <img src="images/isis-logo-400x167.png" alt="Isis banner">
            </div>
            <div class="span6">
                <a href="images/isis-estatio-obfuscated.jpg">
                    <img src="images/isis-estatio-obfuscated-320x233.jpg" width="320px" height="233px" alt="Representative application running on Apache Isis">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="span14">
                <p>
                    Apache Isis is a framework for rapidly developing domain-driven apps in Java.  Write your business logic in entities, domain services
                    and repositories, and the framework dynamically (at runtime) generates a representation of that domain model as a webapp or as a RESTful API.
                    Use for prototyping or production.
                </p>
                <p><a class="btn primary large" href="downloads.html">Download &raquo;</a></p>
            </div>
        </div>

</h1>
</div>

{{ content|markdown }}

{% endblock %}
