{% extends "isis-template.html" %}

{% block content %}


  <br/>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <div align="center">
        <h4>The carousel below provides a tutorial by screenshot of many of the core features of Apache Isis&trade;.</h4>
        <h4>When you are done here, move onto the <a href="documentation">documentation</a> page.</h4>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <!--  Carousel -->
  <!--  consult Bootstrap docs at 
        http://getbootstrap.com/javascript/#carousel -->
  <div id="this-carousel-id" class="carousel slide">
  
    <ol class="carousel-indicators">
      <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
      <li data-target="#this-carousel-id" data-slide-to="1"></li>
      <li data-target="#this-carousel-id" data-slide-to="2"></li>
      <li data-target="#this-carousel-id" data-slide-to="3"></li>
      <li data-target="#this-carousel-id" data-slide-to="4"></li>
      <li data-target="#this-carousel-id" data-slide-to="5"></li>
      <li data-target="#this-carousel-id" data-slide-to="6"></li>
      <li data-target="#this-carousel-id" data-slide-to="7"></li>
      <li data-target="#this-carousel-id" data-slide-to="8"></li>
      <li data-target="#this-carousel-id" data-slide-to="9"></li>
      <li data-target="#this-carousel-id" data-slide-to="10"></li>
      <li data-target="#this-carousel-id" data-slide-to="11"></li>
      <li data-target="#this-carousel-id" data-slide-to="12"></li>
      <li data-target="#this-carousel-id" data-slide-to="13"></li>
      <li data-target="#this-carousel-id" data-slide-to="14"></li>
      <li data-target="#this-carousel-id" data-slide-to="15"></li>
      <li data-target="#this-carousel-id" data-slide-to="16"></li>
      <li data-target="#this-carousel-id" data-slide-to="17"></li>
      <li data-target="#this-carousel-id" data-slide-to="18"></li>
      <li data-target="#this-carousel-id" data-slide-to="19"></li>
      <li data-target="#this-carousel-id" data-slide-to="20"></li>
      <li data-target="#this-carousel-id" data-slide-to="21"></li>
      <li data-target="#this-carousel-id" data-slide-to="22"></li>
      <li data-target="#this-carousel-id" data-slide-to="23"></li>
      <li data-target="#this-carousel-id" data-slide-to="24"></li>
      <li data-target="#this-carousel-id" data-slide-to="25"></li>
      <li data-target="#this-carousel-id" data-slide-to="26"></li>
      <li data-target="#this-carousel-id" data-slide-to="27"></li>
      <li data-target="#this-carousel-id" data-slide-to="28"></li>
      <li data-target="#this-carousel-id" data-slide-to="29"></li>
      <li data-target="#this-carousel-id" data-slide-to="30"></li>
      <li data-target="#this-carousel-id" data-slide-to="31"></li>
      <li data-target="#this-carousel-id" data-slide-to="32"></li>
      <li data-target="#this-carousel-id" data-slide-to="33"></li>
      <li data-target="#this-carousel-id" data-slide-to="34"></li>
      <li data-target="#this-carousel-id" data-slide-to="35"></li>
      <li data-target="#this-carousel-id" data-slide-to="36"></li>
      <li data-target="#this-carousel-id" data-slide-to="37"></li>
      <li data-target="#this-carousel-id" data-slide-to="38"></li>
      <li data-target="#this-carousel-id" data-slide-to="39"></li>
      <li data-target="#this-carousel-id" data-slide-to="40"></li>
      <li data-target="#this-carousel-id" data-slide-to="41"></li>
      <li data-target="#this-carousel-id" data-slide-to="42"></li>
      <li data-target="#this-carousel-id" data-slide-to="43"></li>
      <li data-target="#this-carousel-id" data-slide-to="44"></li>
      <li data-target="#this-carousel-id" data-slide-to="45"></li>
      <li data-target="#this-carousel-id" data-slide-to="46"></li>
      <li data-target="#this-carousel-id" data-slide-to="47"></li>
      <li data-target="#this-carousel-id" data-slide-to="48"></li>
      <li data-target="#this-carousel-id" data-slide-to="49"></li>
      <li data-target="#this-carousel-id" data-slide-to="50"></li>
      <li data-target="#this-carousel-id" data-slide-to="51"></li>
      <li data-target="#this-carousel-id" data-slide-to="52"></li>
      <li data-target="#this-carousel-id" data-slide-to="53"></li>
      <li data-target="#this-carousel-id" data-slide-to="54"></li>
      
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <a href="#010-sign-in">
          <img src="images/screenshots2/010-sign-in.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#020-todo-app">
          <img src="images/screenshots2/020-todo-app.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#030-jdo">
          <img src="images/screenshots2/030-jdo.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#040-rest-api">
          <img src="images/screenshots2/040-rest-api.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#050-menu-services">
          <img src="images/screenshots2/050-menu-services.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#060-menu-class">
          <img src="images/screenshots2/060-menu-class.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#070-ToDoItem-newToDo">
          <img src="images/screenshots2/070-ToDoItem-newToDo.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#080-ToDoItems-newToDo-Category-enum">
          <img src="images/screenshots2/080-ToDoItems-newToDo-Category-enum.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#090-ToDoItems-newToDo-Subcategory-choices">
          <img src="images/screenshots2/090-ToDoItems-newToDo-Subcategory-choices.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#100-ToDoItems-newToDo-datepicker">
          <img src="images/screenshots2/100-ToDoItems-newToDo-datepicker.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#110-ToDoItems-newToDo-defaults">
          <img src="images/screenshots2/110-ToDoItems-newToDo-defaults.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#120-ToDoItems-newToDo-mandatory">
          <img src="images/screenshots2/120-ToDoItems-newToDo-mandatory.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#130-ToDoItems-newToDo-regex">
          <img src="images/screenshots2/130-ToDoItems-newToDo-regex.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#140-ToDoItems-notYetComplete">
          <img src="images/screenshots2/140-ToDoItems-notYetComplete.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#150-standalone-collection">
          <img src="images/screenshots2/150-standalone-collection.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#160-navigating-to-object">
          <img src="images/screenshots2/160-navigating-to-object.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#170-object-layout">
          <img src="images/screenshots2/170-object-layout.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#180-object-layout-json">
          <img src="images/screenshots2/180-object-layout-json.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#190-download-layout">
          <img src="images/screenshots2/190-download-layout.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#200-refresh-layout">
          <img src="images/screenshots2/200-refresh-layout.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#210-css-styling">
          <img src="images/screenshots2/210-css-styling.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#220-title">
          <img src="images/screenshots2/220-title.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#230-icon">
          <img src="images/screenshots2/230-icon.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#240-editing-properties">
          <img src="images/screenshots2/240-editing-properties.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#250-disabled-properties">
          <img src="images/screenshots2/250-disabled-properties.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#260-ToDoItem-hidden">
          <img src="images/screenshots2/260-ToDoItem-hidden.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#270-ToDoItem-validateDeclaratively">
          <img src="images/screenshots2/270-ToDoItem-validateDeclaratively.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#280-ToDoItem-validateImperatively">
          <img src="images/screenshots2/280-ToDoItem-validateImperatively.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#290-invoke-noarg-action">
          <img src="images/screenshots2/290-invoke-noarg-action.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#300-disable-action">
          <img src="images/screenshots2/300-disable-action.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#310-action-with-args">
          <img src="images/screenshots2/310-action-with-args.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#320-action-with-args-autocomplete">
          <img src="images/screenshots2/320-action-with-args-autocomplete.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#330-bulk-actions">
          <img src="images/screenshots2/330-bulk-actions.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#340-contributed-action">
          <img src="images/screenshots2/340-contributed-action.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#350-contributed-properties">
          <img src="images/screenshots2/350-contributed-properties.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#360-contributed-collections">
          <img src="images/screenshots2/360-contributed-collections.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#370-view-models-1">
          <img src="images/screenshots2/370-view-models-1.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#380-view-models-2">
          <img src="images/screenshots2/380-view-models-2.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#390-view-model-rest-api">
          <img src="images/screenshots2/390-view-model-rest-api.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#400-dashboard">
          <img src="images/screenshots2/400-dashboard.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#410-bookmarkable">
          <img src="images/screenshots2/410-bookmarkable.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#420-optimistic-locking">
          <img src="images/screenshots2/420-optimistic-locking.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#430-domainobjectcontainer">
          <img src="images/screenshots2/430-domainobjectcontainer.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#440-domainobjectcontainer-2">
          <img src="images/screenshots2/440-domainobjectcontainer-2.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#450-prototyping-actions">
          <img src="images/screenshots2/450-prototyping-actions.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#460-authorization">
          <img src="images/screenshots2/460-authorization.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#470-publishing-service">
          <img src="images/screenshots2/470-publishing-service.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#480-auditing-service">
          <img src="images/screenshots2/480-auditing-service.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#490-integtesting">
          <img src="images/screenshots2/490-integtesting.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#500-maven-modules">
          <img src="images/screenshots2/500-maven-modules.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#510-extensible-excel">
          <img src="images/screenshots2/510-extensible-excel.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#520-extensible-calendar">
          <img src="images/screenshots2/520-extensible-calendar.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#530-extensible-map">
          <img src="images/screenshots2/530-extensible-map.png"></img>
        </a>
      </div>
      <div class="item">
        <a href="#540-extensible-charts">
          <img src="images/screenshots2/540-extensible-charts.png"></img>
        </a>
      </div>

    </div>
    
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><span class="icon-prev"></span></a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next"><span class="icon-next"></span></a>
  </div><!-- .carousel -->


<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 6000
    });
  });
</script>


<br/>
<br/>

{% endblock %}
